.custom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
}

.custom-arrow-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.left {
        align-items: flex-start;
}

.right {
        align-items: flex-end;
}

.custom-arrow {
        margin: 10px 0;
}

.custom-content {
        flex: 3;
}

.apply-image {
        width: 30rem;
        height: 30rem;
}

.typed-content {
        text-align: center;
        font-size: 35px;
        color: #4b6cb7;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 15rem;
}

@media screen and (max-width: 1020px) {
        .typed-content {
                font-size: 26px;
                margin-left: 30rem;
                margin-top: 2rem;
        }

        .custom-arrow {
                display: none;
        }
}

@media screen and (max-width: 900px) {
        .typed-content {
                font-size: 26px;
                margin-left: 9em;
                margin-top: 2rem;
        }
}


@media screen and (max-width: 768px) {
        .typed-content {
                font-size: 24px;
                margin-left: 8rem;
        }

        .custom-arrow {
                display: none;
        }
}

@media screen and (max-width: 600px) {
        .typed-content {
                font-size: 25px;
                margin-left: 7rem;
        }

        .custom-arrow {
                display: none;
        }
}

@media screen and (max-width: 420px) {
        .typed-content {
                font-size: 16px;
        }
}

@media screen and (max-width: 360px) {
        .typed-content {
                font-size: 14px;
        }
}

@media screen and (max-width: 256px) {
        .typed-content {
                font-size: 12px;
        }
}