* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* overflow-x: auto; */
        /* overflow-y: hidden;   */
}

.typed-container {
        display: flex;
        justify-content: center;    
}
.description{
        margin-top: 35px;
        font-size: large;
}
.social{
        display: flex;
        /* justify-content: center; */
        align-items: center;
}
.title{
        margin-top: 30px;
}
.bold-black {
        font-weight: bold;
        color: #000; 
      }
      
      

.social a {
text-decoration: none;
color: #000; 
margin-right: 10px; 
}


.social a:hover {
color: #0074E4; 
}
.card { 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-width: 40%;
        border-color: #d699e9;
        position: relative;
        padding: 20px;
        overflow: hidden;
   
    ::before {
        content: '';
        position: absolute;
        top: -15px; 
        left: -15px; 
        right: -15px; 
        bottom: -15px; 
        background: linear-gradient(135deg, #b3c9f3, #FFFFFF); /* Gradient colors */
        z-index: -1;
      }
      }
.list-content{
        font-weight: 600; 
}
.card h2 {
        
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 24px; 
        font-weight: 300;

}
.card img {
        width: 200px; 
        height: auto; 
        margin-bottom: 10px;
        /* border-radius: 10%; */
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
      }
.typed-content {
        text-align: center;
        font-size: 40px;
        color: #03060e;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
}

@media screen and (max-width: 1020px) {
        .typed-content {
                font-size: 26px;
                margin-left: 5rem;
                margin-top: 2rem;
        }

        .custom-arrow {
                display: none;
        }
}

@media screen and (max-width: 900px) {
        .typed-content {
                font-size: 26px;
                margin-left: 9em;
        }
}


@media screen and (max-width: 768px) {
        .typed-content {
                font-size: 24px;
                margin-left: 3%;
        }

        .custom-arrow {
                display: none;
        }
}

@media screen and (max-width: 600px) {
        .typed-content {
                font-size: 25px;
                margin-left: 2rem;
        }

        .custom-arrow {
                display: none;
        }
}

@media screen and (max-width: 420px) {
        .typed-content {
                font-size: 16px;
        }
}

@media screen and (max-width: 360px) {
        .typed-content {
                font-size: 14px;
        }
}

@media screen and (max-width: 256px) {
        .typed-content {
                font-size: 12px;
        }
}

