.text-center {
        text-align: center;
        margin-top: 20px;
}

.title-logo {
        width: 150px;
        height: auto;
        margin-top: 8px;
}

.animation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
}

.animation-left,
.animation-right {
        width: 30%;
}

.animation-left {
        margin-right: auto;
        /* Push to the left */
}

.animation-right {
        margin-left: auto;
        /* Push to the right */
}

.button-container {
        text-align: center;
        margin-top: 20px;
}

/* Title.css */
.title-logo {
        width: 150px;
        height: auto;
}

.badge-logo {
        margin-top: 10px;
        width: 160px;
        height: 170px;
}