#typed-text {
        text-align: center;
        font-size: 70px;
        color: #4b6cb7;
        font-weight: bold;
        margin-top: 5rem;
        margin-left: 3.5rem;
}

@media screen and (max-width: 1020px) {
        #typed-text {
                font-size: 60px;
                margin-left: 2rem;
        }
}

/* Media query for screens with a maximum width of 900px */
@media screen and (max-width: 900px) {
        #typed-text {
                font-size: 50px;
                margin-left: 1rem;
        }
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
        #typed-text {
                font-size: 40px;
                margin-top: 3rem;
                margin-left: 0.5rem;
        }
}

/* Media query for screens with a maximum width of 600px */
@media screen and (max-width: 600px) {
        #typed-text {
                font-size: 35px;
                margin-top: 2rem;
                margin-left: 0.5rem;
        }
}

/* Media query for screens with a maximum width of 420px */
@media screen and (max-width: 420px) {
        #typed-text {
                font-size: 30px;
                margin-top: 1.5rem;
                margin-left: 0.2rem;
        }
}

/* Media query for screens with a maximum width of 360px */
@media screen and (max-width: 360px) {
        #typed-text {
                font-size: 25px;
                margin-top: 1rem;
                margin-left: 0.1rem;
        }
}

/* Media query for screens with a maximum width of 256px */
@media screen and (max-width: 256px) {
        #typed-text {
                font-size: 20px;
                margin-top: 0.5rem;
                margin-left: 0.1rem;
        }
}

.container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
}

.centered-content {
        text-align: center;
}

.robot-animation {
        width: 90%;
        max-width: 400px;
}

.button-29 {
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono", monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
}

.button-29:focus {
        box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
}

.button-29:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
}