<%- include ('partials/head'); -%>

<form class="signup" action="">
    <input type="text" placeholder="Username" name="username">
    <input type="email" placeholder="Email" name="email">
    <div class="email_error"></div>
    <input type="password" placeholder="Password" name="password">
    <div class="password_error"></div>
    <button>Sign Up</button>
</form>
<script>
    const form=document.querySelector('form')
    const emailError=document.querySelector('.email_error')
    const passwordError=document.querySelector('.password_error')
    form.addEventListener('submit', async (e)=>{
        e.preventDefault();
        emailError.textContent=""
        passwordError.textContent=""

        const username=form.username.value
        const email=form.email.value
        const password=form.password.value

        try {
            const res= await fetch("/adminsignup",{
                method:'POST',
                body:JSON.stringify({username,email,password}),
                headers:{'Content-Type':'application/json'}
            })

            const data= await res.json()
            console.log(data)

            if(data.errors){
                emailError.textContent=data.errors.email
                passwordError.textContent=data.errors.password
                console.log(emailError.textContent)
                console.log(passwordError.textContent)
            }
            if(data.user){
                location.assign('/main')
            }
        } catch (error) {
            console.log(error)
        }
    })
</script>
</body>
</html>